<Doctype! HTML>
<html>
  <body class = "bodyDetails">
<head>
<title> Matt and Sarah's Wedding </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="style.css">

<link href="https://fonts.googleapis.com/css?family=Cinzel|Dosis|Gloria+Hallelujah|Marck+Script|Pacifico|Quicksand|Raleway|Roboto+Mono|Shadows+Into+Light" rel="stylesheet">
</head>

<nav>
<center>
  <a href = "/"> Home </a>|| <a href = "/details">Details</a> || <a href ="/photos">Photos</a> || <a href ="rsvp">RSVP</a>
</center>
</nav>
<center>
<h1 class = "title2">
Times and Location
</h1>
</center>


<div id = "box4">
<center>
  <h1 id = "names">
     The Springs
  </h1>
	<img id = "ph2" src ="https://cdn.wedding-spot.com/images/venues/6843/The-SPRINGS-at-Weatherford-Wedding-Weatherford-TX-52_main.1474486723.jpg">
	<h3 id = "date">
    454 Thompson Rd,<br> Weatherford, TX 76087 <br>
July 26, 2018
	</h3>
  </center>

</div>
    

<div id = "bg2">

</div>

  </body>
  </html>
	<!-- font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Marck Script', cursive;
-->